@import 'tailwindcss';

@theme {
  --font-heading: 'Work Sans', sans-serif;
  --font-body: 'Public Sans', sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
